@using ThinKsaDev.ItDeveloper.Mvc.Controllers;
@model Patient

@{
    ViewData["Title"] = "Detalhes de Paciente";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>Detalhes de Paciente</h3>
    </div>

    <div class="panel panel-body">
        <div class="col-md-12">
            <form asp-controller="Patient" asp-action="AddPatient">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" name="Id" value="@Model.Id" id="Id" />

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            <h3>Dados Cadstrais</h3>
                        </div>
                    </div>
                    <ul>
                        <li><b>Id do Paciente:</b> <span style="font-size: 18px; color: #ed5353; font-stretch: expanded;">@Model.Id</span> </li>
                        <li><b>Nome do Paciente:</b> <span style="font-size: 18px; color: #ed5353; font-stretch: expanded;">@Model.Name</span> </li>
                        <li><b>Cpf do Paciente:</b> <span style="font-size: 18px; color: #ed5353; font-stretch: expanded;">@Model.Cpf</span> </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel panel-heading">
                            <h3>Telefones do Paciente</h3>
                        </div>
                    </div>
                    <hr />
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id do Telefone</th>
                                <th>Tipo de Telefone</th>
                                <th>Numero</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Telefones)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.PhoneType</td>
                                    <td>@item.Numero</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <a href="javascript:void();" class="btn btn-info">Editar Telefone</a>
                    <a asp-controller="Patient" asp-action="Index" class="btn btn-success">Voltar a tela inicial.</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/bundle/dataTables.min.js"></script>
}